.only-item-page {
  padding: 0 30px;
  position: relative;
}
.item-icons {
  vertical-align: middle;
  float: right;
}

.before-icon {
  padding-right: 10px;
}
.icon-container {
  position: relative;
}
/*            Item - nav */
/* .no-Nav {
  margin-top: 135px;
} */
.item-page {
  display: block;
}
.itempage-nav {
  text-align: center;
  margin-top: 60px;
  padding: 20px 0 0;
  height: 60px;
  transition: top 0.05s;
  position: fixed;
  background-color: white;
  z-index: 3;
  width: 93vw;
}
.item-nav-comp {
  display: inline-block;
}
.item-nav-left {
  float: left;
  text-align: left;
}
.item-nav-smTitle {
  font-size: 13px;
}
.item-nav-title {
  font-size: 30px;
  font-weight: bold;
}
.item-nav-right {
  float: right;
  padding: 0 10px;
  text-align: right;
  position: relative;
}
.item-nav-right span {
  padding: 0 10px;
  font-weight: bold;
  font-size: 15px;
}
.item-nav-filter {
  cursor: pointer;
}
.item-nav-icons {
  display: inline-block;
}
.item-nav-hidden {
  position: absolute;
  background-color: #fff;
  border-bottom-left-radius: 20px;

  padding: 0 40px 20px;
  text-align: right;
  line-height: 2;
  top: 0;
  right: 0;
  width: 100px;
  margin-top: 30px;
}
.item-nav-li:hover {
  color: #777;
}
/*               item page side bar                 */
.item-sidebar {
  display: inline-block;
  overflow-y: scroll;
  position: fixed;
  overflow-x: hidden;
  transition: left 0.5s;
  top: 160px;
  max-height: calc(100vh - 80px);
}
.item-sidebar-box {
  border-top: 1px solid #bbb;
  width: 180px;
  font-weight: bold;
  padding: 15px 0;
}
.ExpandLessIcon {
  float: right;
  padding: 15px 0;
  font-weight: bold;
}
.item-sidebar-sel {
  transition: 0.5s;
}
.item-sidebar-chk {
  line-height: 2;
  font-size: 15px;
}
.item-sidebar-title {
  padding: 10px 0;
  position: relative;
  cursor: pointer;
}
.item-sidebar-fold {
  padding: 20px 0;
  cursor: pointer;
}
.item-sidebar-icons {
  width: 20px;
  top: 8px;
  position: absolute;
  right: 0;
}
.fold {
  display: none;
}
/*            item list           */
.ItemList {
  /* test */
  width: calc(100% - 270px);
  /* height: calc(100vh - 135px); */
  height: 1000px;
  display: inline-block;
  background-color: #eee;
  position: absolute;
  top: 100px;
  left: 240px;
  transition: left 0.5s;
}
.itemList-container {
  width: 300px;
  display: inline-block;
}
.itemLst-img-box {
  background-color: #bbb;
  width: 280px;
  height: 280px;
  position: relative;
  margin: 0 10px;
}
.itemList-img-item {
  width: 280px;
  height: 280px;
  background-color: #aaa;
}
.itemList-img-eco {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bbb;
}
.itemList-information {
  margin: 10px;
  position: relative;
  text-align: left;
  letter-spacing: -1px;
  line-height: 1.5;
  width: 280px;
}
.itemList-info-price {
  position: absolute;
  right: 0;
  top: 0;
}
.itemList-info-eco {
  color: rgb(224, 147, 75);
}

.itemList-info-hash {
  color: #aaa;
}
.itemList-info-color {
  color: #aaa;
  margin: 10px 0;
}
.item-sm-img {
  display: none;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-color: red;
}
